body {
  background-color: #141414
}

.container {
  display: flex;
  justify-content: center;
  width: '100%';
}

.bottom-container {
  display: flex;
  align-items: center;
  text-align: 'justify';
  width: '100%';
  flex-direction: column;
}

[class*="video"] {
  width: 100%;
}

@media only screen and (min-width: 768px){
   .video {width: 75%}
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* .artist {
  color: white;
  font-family: "Arial";
  letter-spacing: 2px;
  text-align: 'justify';
  font-size: 14px;
  font-weight: 200;
  opacity: 0.9;
} */

/* .artistBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;

} */

.copy {
  color: white;
  font-family: 'Arial';
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0px;
  font-weight: 450;
}

a:link { color: #B2D3FF;
padding: 0px 8px }
